body {
	color:#311313;
	background-image:url('../img/bg_tile_a.png');
	background-repeat:repeat-x;
}
iframe {
	width: 100%;
	/*height: 800px;*/
}

.container {
	margin: 0 auto;
	max-width: 1000px;
}

.masthead .logo {
	text-align: center;
}
.masthead .logo img {
	padding: 4px 10px 0px;
	/*margin-bottom: -8px;*/
	height: 126px;
}
.masthead .logo .mayor {
	color: white;
	font-family: 'Tangerine', serif;
	font-size: xx-large;
	position: absolute;
	left: 40px;
	top: 52px;
}

.hnall {
	margin: 2px;
}
.hapNow {
}

.btn-pride {
  color: #ffffff;
  background-color: #50457B;
  border-color: #413864;
}

.btn-pride:hover,
.btn-pride:focus,
.btn-pride:active,
.btn-pride.active,
.open .dropdown-toggle.btn-pride {
  color: #ffffff;
  background-color: #413864;
  border-color: #38305b;
}

.btn-pride:active,
.btn-pride.active,
.open .dropdown-toggle.btn-pride {
  background-image: none;
}

.btn-pride.disabled,
.btn-pride[disabled],
fieldset[disabled] .btn-pride,
.btn-pride.disabled:hover,
.btn-pride[disabled]:hover,
fieldset[disabled] .btn-pride:hover,
.btn-pride.disabled:focus,
.btn-pride[disabled]:focus,
fieldset[disabled] .btn-pride:focus,
.btn-pride.disabled:active,
.btn-pride[disabled]:active,
fieldset[disabled] .btn-pride:active,
.btn-pride.disabled.active,
.btn-pride[disabled].active,
fieldset[disabled] .btn-pride.active {
  background-color: #50457B;
  border-color: #413864;
}

.marketing {
	text-align:center;
	color:#5a5a5a;
}

.contain-main {
	min-height: 380px;
}

hr.soften {
	height: 1px;
	margin: 40px 0;
	background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
	background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
	background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
	border: 0;
}

.youtube-video {
	text-align: center;
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px; height: 0; overflow: hidden;
}
.youtube-video iframe,
.youtube-video object,
.youtube-video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.twitter-feed {
	text-align: center;
}
.gcal-agenda {
	text-align: center;
}

.social-icons {
	margin: 50px 0 0 0;
	border: 0;
}

.nouline {
	text-decoration: none;
}
.nouline:hover {
	text-decoration: none;
}
.pwide {
	margin: 0 5px;
	padding: 0 5px;
}

.nowrap {
	white-space: nowrap;
}

.spacer {
	margin-top: 20px;
}
.caption-small {
	font-size: smaller;
}

.img-thumb {
	width:66px;
	height:100px;
}

.table-parks th {
	font-size: smaller;
}
.table-parks td {
	text-align: center;
	vertical-align: middle;
}

#search-results ul li {
	margin-bottom: 4px;
}
.srchsub {
	padding-bottom: 12px;
	padding-left: 12px;
	color:#5a5a5a;
}

.footer {
	padding: 5px 40px;
	font-size:smaller;
	background-color: #f2f2f2;
	margin-top: 20px;
	padding-top: 20px;
	border-top: 1px solid #ccc;
}
.copyright {
	font-size: smaller;
	text-align: center;
}